<!--Contact Section Start-->
<section class="contact pt-100 pb-100" data-scroll-index="5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="heading">
                    <h6>تماس</h6>
                    <h2>در تماس باشید</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <!--Contact Form-->
                <form id='contact-form' method='POST'><input type='hidden' name='form-name' value='contactForm'/>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <!--name-->
                            {{ contact_form.full_name }}
                        </div>
                        <div class="col-md-6 form-group">
                            <!--email-->
                            {{ contact_form.phone }}
                        </div>
                        <div class="col-md-12 form-group">
                            <!--message box-->
                            {{ contact_form.message }}
                        </div>
                        <div class="col-md-12 text-center">
                            <!--contact button-->
                            <button id="contact-submit" class="mt-30 main-btn">
                                ارسال پیام
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Contact Section End-->