{% load static %}
<script src="{% static 'shared/js/jquery.min.js' %}"></script>
<!--Bootstrap js-->
<script src="{% static 'shared/js/bootstrap.min.js' %}"></script>
<!--Stellar js-->
<script src="{% static 'shared/js/jquery.stellar.js' %}"></script>
<!--Animated Headline js-->
<script src="{% static 'shared/js/animated.headline.js' %}"></script>
<!--Owl Carousel js-->
<script src="{% static 'shared/js/owl.carousel.min.js' %}"></script>
<!--ScrollIt js-->
<script src="{% static 'shared/js/scrollIt.min.js' %}"></script>
<!--Isotope js-->
<script src="{% static 'shared/js/isotope.pkgd.min.js' %}"></script>
<!--Magnific Popup js-->
<script src="{% static 'shared/js/jquery.magnific-popup.min.js' %}"></script>
<!--Site Main js-->
<script src="{% static 'shared/js/main.js' %}"></script>