<footer class="pt-50 pb-50">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>ارشیا صمیمی فر</h5>
                    <p>علاقه‌مند به وب و پایگاه داده</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>تلفن</h5>
                    <p>09374641310</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>ایمیل</h5>
                    <p>arshia21420@gmail.com</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!--Contant Item-->
                <div class="contact-info">
                    <h5>آدرس</h5>
                    <p>ایران،تهران،سلسبیل</p>
                </div>
            </div>
        </div>
    </div>
</footer>