{% extends 'shared/_layout.html' %}
{% load static %}
{% block content %}
    <!--About Section Start-->
    <section class="about pt-100 pb-100" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <!--About Image-->
                    <div class="about-img">
                        <img src="{% static 'shared/files/me.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <!--About Content-->
                    <div class="about-content">
                        <div class="about-heading">
                            <h2>درباره من</h2>
                            <span>من ارشیا صمیمی‌فر، متولد ۱۲ مرداد ۱۳۸۱ هستم.</span>
                        </div>
                        <p>از همان سال‌های ابتدایی تحصیل، علاقه‌ زیادی به دنیای کامپیوتر و برنامه‌نویسی داشتم و پس از دریافت مدرک کارشناسی کامپیوتر، مسیر یادگیری را به‌صورت جدی و خودآموز در حوزه برنامه‌نویسی آغاز کردم. تخصص اصلی من توسعه وب با پایتون و فریم‌ورک جنگو است و همیشه تلاش می‌کنم با یادگیری مداوم، مهارت‌های خودم را ارتقا دهم. </p>
                        <p> پیش از ورود به حوزه برنامه‌نویسی، یک سال در شرکت زیتل به عنوان کارشناس نصب اینترنت TD-LTE فعالیت داشتم و پس از آن در شرکت هلدینگ گروه اقتصادی تاو به عنوان پشتیبان فنی IT (Help Desk) مشغول به کار شدم. این تجربیات به من کمک کرد تا نگاه دقیق‌تری نسبت به زیرساخت، شبکه و فرآیندهای پشتیبانی فنی داشته باشم. </p>
                        <p> من فردی پرتلاش، خلاق، مسئولیت‌پذیر و بسیار یادگیرنده هستم و همیشه به‌دنبال رشد، پیشرفت و همکاری با افراد با تجربه‌تر برای ارتقای مهارت‌های خودم هستم. هدفم ساختن مسیر حرفه‌ای محکم در برنامه‌نویسی و ارائه پروژه‌هایی با کیفیت بالا و استانداردهای حرفه‌ای است.</p>
                        <!--About Social Icons-->
                        <div class="social-icons">
                            <a href="https://www.instagram.com/arshia219675/"><i class="fa fa-instagram"></i></a>
                            <a href="https://web.telegram.org/k/#@arshia21420"><i class="fa fa-telegram"></i></a>
                            <a href="https://wa.me/989374641310"><i class="fa fa-whatsapp"></i></a>
                        </div>
                        <span class="about-button">
                                <a class="main-btn" href="{% static 'shared/files/ارشیا_صمیمی فر-fa.pdf' %}" download>دانلود رزومه</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About Section End-->

    <!--Services Section Start-->
    <section class="services bg-gray pt-100 pb-50" data-scroll-index="2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="heading text-center">
                        <h6>سرویس ها</h6>
                        <h2>کاری که من می توانم انجام دهم</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!--Service Item-->
                    <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-laptop"></i>
                            </span>
                        <h4>طراحی وب</h4>
                        <p>طراحی رابط کاربری حرفه‌ای و مدرن برای وب‌سایت‌های شخصی، شرکتی و فروشگاهی با تمرکز بر تجربه کاربری و سرعت بالا. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Service Item-->
                    <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-gears"></i>
                            </span>
                        <h4>توسعه وب</h4>
                        <p>پیاده‌سازی انواع پروژه‌های تحت وب با پایتون و جنگو، شامل پنل‌های مدیریتی، سیستم‌های سازمانی، API و وب‌اپلیکیشن‌های اختصاصی. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Service Item-->
                    <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-mobile"></i>
                            </span>
                        <h4>طراحی واکنش گرا</h4>
                        <p>ساخت وب‌سایت‌های کاملاً ریسپانسیو که در تمامی دستگاه‌ها مانند موبایل، تبلت و دسکتاپ به‌درستی نمایش داده شوند.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Service Item-->
                    <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-database"></i>
                            </span>
                        <h4>مهندسی پایگاه‌داده SQL</h4>
                        <p>طراحی، مدیریت و بهینه‌سازی پایگاه‌های داده SQL، ایجاد کوئری‌های دقیق و کارآمد، تحلیل داده‌ها و پیاده‌سازی ساختارهای مناسب برای سیستم‌های تحت وب. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Service Item-->
                    <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-pencil"></i>
                            </span>
                        <h4>طراحی خلاقانه</h4>
                        <p>ایجاد طرح‌های گرافیکی کاربرپسند، UI/UX خلاقانه و ایده‌پردازی جهت بهبود ظاهر و کاربری وب‌سایت‌ها.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Service Item-->
                    <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-support"></i>
                            </span>
                        <h4>پشتیبانی</h4>
                        <p>ارائه پشتیبانی فنی، نگهداری وب‌سایت، رفع خطاها، به‌روزرسانی سیستم‌ها و مشاوره برای توسعه و بهبود پروژه‌های موجود.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Services Section End-->

    <!--Skills Section Start-->
    <section class="stats pt-100 pb-100" style="background-image: url('{% static 'shared/images/background/stats-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="heading text-center">
                        <h6>مهارت‌ها</h6>
                        <h2>مهارت‌های اصلی من</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--Python Skill-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-stat">
                    <span class="stat-icon">
                        <i class="fa fa-code" aria-hidden="true"></i>
                    </span>
                        <h2 class="counter">70%</h2>
                        <p>پایتون</p>
                    </div>
                </div>
                <!--Django Skill-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-stat">
                    <span class="stat-icon">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                    </span>
                        <h2 class="counter">80%</h2>
                        <p>جنگو</p>
                    </div>
                </div>
                <!--SQL Skill-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-stat">
                    <span class="stat-icon">
                        <i class="fa fa-database" aria-hidden="true"></i>
                    </span>
                        <h2 class="counter">50%</h2>
                        <p>SQL</p>
                    </div>
                </div>
                <!--Git & GitHub Skill-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-stat">
                    <span class="stat-icon">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </span>
                        <h2 class="counter">80%</h2>
                        <p>Git & GitHub</p>
                    </div>
                </div>
                <!--Linux Skill-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-stat">
                    <span class="stat-icon">
                        <i class="fa fa-linux" aria-hidden="true"></i>
                    </span>
                        <h2 class="counter">50%</h2>
                        <p>Linux</p>
                    </div>
                </div>
                <!--IT Support Skill-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-stat">
                    <span class="stat-icon">
                        <i class="fa fa-support" aria-hidden="true"></i>
                    </span>
                        <h2 class="counter">90%</h2>
                        <p>پشتیبانی IT</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Skills Section End-->

    <!--Portfolio Section Start-->
    <section class="portfolio pt-100 pb-70" data-scroll-index="3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="heading text-center">
                        <h6>نمونه کارها</h6>
                        <h2>کاری که انجام دادم</h2>
                    </div>
                    <div class="portfolio-filter text-center">
                        <ul>
                            <li class="sel-item" data-filter="*">همه</li>
                            <li data-filter=".design">طراحی وب</li>
                            <li data-filter=".application">اپلیکیشن</li>
                            <li data-filter=".development">توسعه</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row portfolio-items">
                <!--Portfolio Item-->
                <div class="col-lg-4 col-md-6 item application">
                    <div class="item-content">
                        <img src="{% static 'shared/images/projects/xsports/1.jpeg' %}" alt="">
                        <div class="item-overlay">
                            <h6>اپلیکیشن</h6>
                            <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'shared/images/projects/xsports/1.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Portfolio Item-->
                <div class="col-lg-4 col-md-6 item design">
                    <div class="item-content">
                        <img src="{% static 'shared/images/projects/xsports/2.jpeg' %}" alt="">
                        <div class="item-overlay">
                            <h6>طراحی وب</h6>
                            <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'shared/images/projects/xsports/2.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Portfolio Item-->
                <div class="col-lg-4 col-md-6 item development">
                    <div class="item-content">
                        <img src="{% static 'shared/images/projects/xsports/3.jpeg' %}" alt="">
                        <div class="item-overlay">
                            <h6>اپلیکیشن</h6>
                            <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'shared/images/projects/xsports/3.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Portfolio Item-->
                <div class="col-lg-4 col-md-6 item design development">
                    <div class="item-content">
                        <img src="{% static 'shared/images/projects/xsports/4.jpeg' %}" alt="">
                        <div class="item-overlay">
                            <h6>توسعه</h6>
                            <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'shared/images/projects/xsports/4.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Portfolio Item-->
                <div class="col-lg-4 col-md-6 item development application">
                    <div class="item-content">
                        <img src="{% static 'shared/images/projects/xsports/5.jpeg' %}" alt="">
                        <div class="item-overlay">
                            <h6>طراحی وب</h6>
                            <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'shared/images/projects/xsports/5.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Portfolio Item-->
                <div class="col-lg-4 col-md-6 item application development">
                    <div class="item-content">
                        <img src="{% static 'shared/images/projects/xsports/6.jpeg' %}" alt="">
                        <div class="item-overlay">
                            <h6>طراحی وب</h6>
                            <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'shared/images/projects/xsports/6.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Portfolio Section End-->

    <!--Testimonials Section Start-->
    <section class="testimonials pt-100 pb-100" style="background-image: url('{% static 'shared/images/background/testimonials-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="owl-carousel owl-theme text-center">
                        <!--Testimonials Item-->
                        <!--Testimonials Section Start-->
                        <div class="testimonial-item">
                            <div class="author-img">
                                <img src="{% static 'shared/files/me.jpg' %}" alt="ارشیا صمیمی‌فر">
                            </div>
                            <h5>ارشیا صمیمی‌فر</h5>
                            <span> IT توسعه‌دهنده وب و پشتیبان</span>
                            <p>من به برنامه‌نویسی و توسعه وب علاقه زیادی دارم و همواره تلاش می‌کنم پروژه‌های کاربردی و با کیفیت بالا ارائه دهم. تجربه من شامل توسعه وب با پایتون و جنگو، طراحی رابط کاربری و مدیریت پایگاه داده است.</p>
                        </div>

                        <!--Testimonials Item-->
                        <div class="testimonial-item">
                            <div class="author-img">
                                <img src="{% static 'shared/files/me.jpg' %}" alt="ارشیا صمیمی‌فر">
                            </div>
                            <h5>ارشیا صمیمی‌فر</h5>
                            <span> SQL توسعه‌دهنده و متخصص</span>
                            <p>علاقه من به تحلیل داده‌ها و طراحی پایگاه داده باعث شده تجربه حرفه‌ای در کار با پایگاه داده و بهینه‌سازی کوئری‌ها کسب کنم. هدفم همیشه ارائه راهکارهای دقیق و سریع برای پروژه‌ها است.</p>
                        </div>

                        <!--Testimonials Item-->
                        <div class="testimonial-item">
                            <div class="author-img">
                                <img src="{% static 'shared/files/me.jpg' %}" alt="ارشیا صمیمی‌فر">
                            </div>
                            <h5>ارشیا صمیمی‌فر</h5>
                            <span>برنامه‌نویس خودآموز و خلاق</span>
                            <p>با یادگیری مستمر و انجام پروژه‌های واقعی، مهارت‌های خودم را ارتقا داده‌ام. تمرکز من روی توسعه وب، اتوماسیون و پشتیبانی سیستم‌ها است تا بهترین تجربه ممکن برای کاربران فراهم شود.</p>
                        </div>
                        <!--Testimonials Section End-->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonials Section End-->

    <!--Contact Section Start-->
    <section class="contact pt-100 pb-100" data-scroll-index="5">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="heading">
                        <h6>تماس</h6>
                        <h2>در تماس باشید</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <!--Contact Form-->
                    {% if contact_form.errors %}
                        {% for field, errors in contact_form.errors.items %}
                            {% for error in errors %}
                                <div class="alert alert-warning">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <form id='contact-form' method='POST' novalidate> {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <!--name-->
                                {{ contact_form.full_name }}
                            </div>
                            <div class="col-md-6 form-group">
                                <!--email-->
                                {{ contact_form.phone }}
                            </div>
                            <div class="col-md-12 form-group">
                                <!--message box-->
                                {{ contact_form.message }}
                            </div>
                            <div class="col-md-12 text-center">
                                <!--contact button-->
                                <button id="contact-submit" class="mt-30 main-btn" type="submit">
                                    ارسال پیام
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--Contact Section End-->
{% endblock %}